<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApf9uvIjZpVBZtDzbHYZfEcTa7i2b65J0</string>
	<key>GCM_SENDER_ID</key>
	<string>355566592453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mybb</string>
	<key>PROJECT_ID</key>
	<string>mybloodbuddy-4065e</string>
	<key>STORAGE_BUCKET</key>
	<string>mybloodbuddy-4065e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355566592453:ios:95d25bc0e49d299150ebac</string>
</dict>
</plist>